a {
  text-decoration:none;
  color:black
}
a:hover {
  text-decoration:none;
  color:#385faf;
}

html, body {
    height: 100%;
    margin: 0;
}

#grainCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind content */
    opacity: 0.08; /* Adjust this to make it faint */
}
